.banner{
    background: black;
    padding: 40px;
    position: relative;
    background:url(https://picsum.photos/960/200);
    background-repeat: no-repeat;
    border-radius: 8px;

        &-search{
            display: flex;
            align-items: center;
            width: 70%;
            background: #ffff;
            padding: 3px;
            margin: 0 auto;
            border-radius: 4px;

            div{
                padding: 15px;
                font-size: $font-size-h4;
                color: $color-third;
            }
        }

        input{
        width: 100%;
        outline: none;
        border: 0;
        font-family: $font-primary;
        font-size: 1.2rem;

        }

        @media (max-width:750px){

            .banner-search{
                width: 100%;
                margin-left: 0;
                overflow: hidden;
            }

            .btn-primary{
                right: 45px;
                overflow: hidden;
            }
        }

        @media (max-width:425px){

            .btn-primary{
                width: 80px;
            }
        }
      
}